{% extends 'shipping/base.html' %} {% block content %} {% load static %}


<!-- about section -->
<section class="about_section layout_padding2-bottom">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="heading_style">
                    About Us
                </h2>
                <p>
                    Our Company is based in USA and we want to help people and let them access to American's brands as America is riched with Worldwide famous brands. Most people want do shopping from those brands due to lacking of Worldwide shippig by most of the bands
                    people can't buy even they want. SO here we come, we are here to help people by providing local host in USA, you need to use your host addess at the checkout page. Your host (we) will get your products and will shipp it you within
                    5 days
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about_img-box">

                    <img src="{% static 'images/service-1.jpg'%}" alt="" class="img-fluid">
                    <img src="{% static 'images/shipping.jpg'%}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 about_detail-container">
                <div class="about_detail-box">
                    <h3>
                        Our Background
                    </h3>
                    <p>
                        YOU BUY WE SHIP is part of a Network made up of 2 websites ( Housakicks.com and Tayibs.com) operated by Tayib Salami who creates content that delivers Eternal Value to the sneaker community and mankind in general. I maintain the Network with my own financial
                        resources. If you like what you read and see here, consider supporting the site. Your support is very much appreciated. Housakicks covers a variety of topics i.e ( tips on authenticating sneakers, quick sneaker reviews, release
                        reports and projection articles intended to help the reader in their buying decision) .Some of the projection articles can be very useful to retailers as well since they help in predicting how certain commodities are going to perform
                        in the retail market. Tayibs.com was launched for the sole purpose of exploring difficult questions about the Christian faith that most of us shy away from. In 2017, I entered a very dark time in my life and it’s only by the grace
                        of the Living God that I’m still alive today. It led me to really go deeper in my faith and consider a myriad of questions that I never thought about asking myself or others before such as-is the Bible reliable? How Do I know Jesus
                        really existed? What about the Resurrection? Who wrote the Gospels? These are legitimate questions that many people may be thinking about but unfortunately when individuals in the Christian faith are confronted with these tough
                        questions, they usually revert to I believe because I have faith. And consequently, they make the Christian Faith into a fairy tale/Santa Claus story. But what I realized is that Belief In Jesus is evidence based and the reason
                        why many of us miss it is because we haven’t invested ourselves into understanding The Sacred Scriptures. With that said, let’s dive into these topics together and hopefully you’ll come to understand that Jesus is who He says He
                        is- THE WAY THE TRUTH AND THE LIFE.
                    </p>
                    <!-- <div class="d-flex  justify-content-end">
                        <a href="" class="quote-btn about-btn">
                            <img src="{% static 'images/white-next.png'%}" alt="">
                            <span>
                  About More
                </span>

                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

</section>

<!-- end about section -->

{% endblock %}