{% extends 'shipping/base.html' %} {% block content %} {% load static %}

<!-- How To Buy -->

<section class="service_section layout_padding">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2 class="heading_style">
                How Do I Make My Purchases?
            </h2>
        </div>
        <div class="row layout_padding2-top">
            <p>
           Youbuyweshipusa.com is a derivative of housakicks. With Us, you can buy any products from Maryland local shops and US based online retailers who do not ship locally or internationally. There are two ways to use our services, You buy directly and use our address or We buy on your behalf and ship the items to your address overseas! 
            </p>
        </div>

    </div>
</section>



<section class="products_section ">
    <div class="container">
        <div class="col">
            <div class="d-flex">
                <h2 class="heading_style">
                    Method I: You Buy
                </h2>
            </div>
            <div>
                <ol>
                    <li id="ul">Order item(s) online and have it shipped to our office. Items should be addressed to:</li>
                    <ul>
                        <li id="ol"> Your Name</li>
                        <li id="ol">9401 Dunraven street </li>
                        <li id="ol"> frederick, MD 2170 </li>
                    </ul>
                    <li id="ul">Kindly email the following to "mistourasal@gmail.com":</li>
                    <ul>
                        <li id="ol"> Your delivery address and phone number</li>
                        <li id="ol">Purchase invoice showing item description and price.</li>
                    </ul>
                    <li id="ul">Our fees:</li>
                    <ul>
                        <li id="ol"> (10%) x Item cost</li>
                        <li id="ol">shipping cost to your destination.</li>
                    </ul>
                </ol>
            </div>
            <div class="">
                <h2 class="heading_style">
                    Method II: We Buy on your behalf
                </h2>
                <p>There are two types of payments in the second method of purchasing</p>
            </div>
            <div>
                <ol>
                    <li id="ul">FIRST PAYMENT:</li>
                    <ul>
                        <li id="ol">ITEM PRICE </li>
                        <li id="ol">+SALES TAX </li>
                        <li id="ol"> +SERVICE FEE (15%) </li>
                        <li id="ol"> +DOMESTIC SHIPPING </li>
                    </ul>
                    <li id="ul">SECOND PAYMENT:</li>
                    <ul>
                        <li id="ol"> The second payment mainly covers shipping cost to your destination.</li>
                    </ul>
                </ol>
            </div>
        </div>


        <div class="col">
            <div class="">
                <h3 class="heading_style_mini">
                    Package Consolidation/SHIPPING
                </h3>
            </div>
            <div>
                <ul>
                    <li id="ol"> For shipping to your destination, we use USPS by default because it is by far the cheapest shipping method. But we will gladly use another reliable shipping service of your choice. Our package consolidation gives you the opportunity
                        to group multiple packages together and ship them in one package in order to save money.</li>

                </ul>
            </div>
        </div>
        <div class="col">
            <div class="">
                <h3 class="heading_style_mini">
                    HOW LONG DO YOU HOLD A PACKAGE FOR?
                </h3>
            </div>
            <div>
                <ul>
                    <li id="ol"> We will hold your package for only 14 days for free and for every additional day there will be a $1 charge.
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="">
                <h3 class="heading_style_mini">
                    WHAT FORMS OF PAYMENT DO YOU ACCEPT?
                </h3>
            </div>
            <div>
                <ul>
                    <li id="ol"> we accept paypal and all major credit/debit cards
                </ul>
            </div>
        </div>
    </div>
    

</section>
<!--End of Products listing-->

<section class="service_section layout_padding">
    <div class="container">

         <div class="col-md-6">
                <div class="contact_form-container">
                    <form action="/contact/" method="POST">
                        {% csrf_token %}
                        <label for="fname">Your Name</label><br>
                        <div>
                            <input type="text" name="message-name" placeholder="Your Name">
                        </div>
                        <br>
                         <label for="fname">Your Email</label><br>
                        <div>
                            <input type="email" name="message-email" placeholder="Your Email">
                        </div>
                        <br>
                         <label for="fname">Your Phone Number</label><br>
                        <div>
                            <input type="text" name="message-phone" placeholder="Your Phone">
                        </div>
                        <br>
                         <label for="fname">Details(product link, size and more) Be specific</label><br>
                        <div>
                            <input type="text" class="message_input" name="message" placeholder="Message">
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit " class="">
                    Send
                   </button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</section>

{% endblock %}
