{% extends 'shipping/main.html' %} {% block content %} {% load static %}






<!-- slider section -->

<section class=" slider_section ">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="slider_item-container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="slider_item-detail">

                                    <div>
                                        <h1>
                                            Shop US Stores <br> Tax-Free & Ship Worldwide with Us
                                        </h1>
                                        <h6>Save up to 70% on international shipping!</h6>
                                        <br>
                                        <br>

                                        <div class="d-flex">
                                            <div>
                                                <a href="" class="read-btn">

                                                    <span>
                                                     Read More
                                                   </span>
                                                    <img src="{% static 'images/white-next.png' %}" alt="">
                                                </a>
                                            </div>
                                            <div class="ml-3">
                                                <a href="" class="quote-btn">

                                                    <span>
                                Get A Quote
                              </span>
                                                    <img src="{% static 'images/white-next.png' %}" alt="">
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="slider_img-box">
                                    <img src="{% static 'images/shoes.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="slider_item-container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="slider_item-detail">

                                    <div>
                                        <h1>
                                            Buy what you want <br> We'll ship it to you.
                                        </h1>
                                        <h6>Save up to 70% on international shipping!</h6>
                                        <br>
                                        <br>

                                        <div class="d-flex">
                                            <div>
                                                <a href="" class="read-btn">

                                                    <span>
                                Read More
                              </span>
                                                    <img src="{% static 'images/white-next.png' %}" alt="">
                                                </a>
                                            </div>
                                            <div class="ml-3">
                                                <a href="" class="quote-btn">

                                                    <span>
                                Get A Quote
                              </span>
                                                    <img src="{% static 'images/white-next.png' %}" alt="">
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="slider_img-box">
                                    <img src="{% static 'images/onlinestores.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="slider_item-container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="slider_item-detail">

                                    <div>
                                        <h1>SHOP ANYWHERE IN USA, SHIP EVERYWHERE!</h1>
                                        <h5>It's a trusted community that enables <br> people to shop from anywhere <br> in USA</h5>
                                        <h6>Save up to 70% on international shipping!</h6>
                                        <br>
                                        <br>

                                        <div class="d-flex">
                                            <div>
                                                <a href="" class="read-btn">

                                                    <span>
                                Read More
                              </span>
                                                    <img src="{% static 'images/white-next.png' %}" alt="">
                                                </a>
                                            </div>
                                            <div class="ml-3">
                                                <a href="" class="quote-btn">

                                                    <span>
                                Get A Quote
                              </span>
                                                    <img src="{% static 'images/white-next.png' %}" alt="">
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="slider_img-box">

                                    <img src="{% static 'images/electronics.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="slider_item-container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="slider_item-detail">

                                    <div>
                                        <h1>Shop in the U.S.A. and have <br> packages forwarded to <br> anywhere in the world.</h1>
                                        <h6>Save up to 70% on international shipping!</h6>
                                        <br>
                                        <br>

                                        <div class="d-flex">
                                            <div>
                                                <a href="" class="read-btn">

                                                    <span>
                                Read More
                              </span>
                                                    <img src="{% static 'images/white-next.png' %}" alt="">
                                                </a>
                                            </div>
                                            <div class="ml-3">
                                                <a href="" class="quote-btn">

                                                    <span>
                                Get A Quote
                              </span>
                                                    <img src="{% static 'images/white-next.png' %}" alt="">
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="slider_img-box">
                                    <img src="{% static 'images/shoes.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>


</section>
</div>
<!-- end slider section -->


<!-- about section -->
<section class="about_section ">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="heading_style">
                    About Us
                </h2>
                <br>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <iframe width="775" height="559" src="https://www.youtube.com/embed/4jxWJXuC_vg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <img src="{% static 'images/slider.jpg' %}" alt="" class="img-fluid"> -->
                </div>
            </div>
            <div class="col-md-6 about_detail-container">
                <div class="about_detail-box">
                    <h3>
                        Who We are?
                    </h3>
                    <p>
                        Youbuyweshipusa.com is a derivative of housakick. With Us, you can buy any products from Maryland local shops and US based online retailers who do not ship locally or internationally. There are two ways to use our services, You buy directly and use our
                        address or We buy on your behalf and ship the items to your address overseas! You’ll see the details below

                    </p>
                    <h3>
                        Why Use Us?
                    </h3>
                    <p>
                        We offer very flexible rates and constantly give you updates on the massive amount of sales that are taking place in the US market. Our platform will give you access to all the clearance and markdowns from our participating retailers, so be sure to check
                        out the page daily.


                    </p>
                    <div class="d-flex ">
                        <a href="{% url 'about' %}" class="quote-btn about-btn">
                            <img src="{% static 'images/white-next.png' %}" alt="">
                            <span>
                  About More
                </span>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- end about section -->


<!-- How It Work section -->
<section class="how_section layout_padding">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2 class="heading_style">
                How it' Works?
            </h2>
        </div>
        <div class="row layout_padding2-top">
            <div class="col-md-4">
                <div class="how_img-box h-b-1">
                    <img src="{% static 'images/homeadress.png' %}" alt="">
                    <div class="d-flex">
                        <h3>
                            GET AN ADDRESS

                        </h3>
                    </div>
                </div>
                <div class="how-detail">
                    <p>
                        Get our address & choose us your host in USA. Now you can do shopping from any store in USA.
                    </p>

                </div>
            </div>
            <div class="col-md-4">
                <div class="how_img-box h-b-2">
                    <img src="{% static 'images/onilinestore.png' %}" alt="">
                    <div class="d-flex">
                        <h3>
                            SHOP FROM ANY STORE
                        </h3>

                    </div>
                </div>
                <div class="how-detail">

                    <p>
                        Use your host's address as your delivery address at checkout.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="how_img-box h-b-3">
                    <img src="{% static 'images/getitems.png' %}" alt="">
                    <div class="d-flex">
                        <h3>
                            RECEIVE YOUR ITEMS
                        </h3>
                    </div>
                </div>
                <div class="how-detail">
                    <p>
                        Receive your packages with trusted logistics partners, DHL, TNT, UPS, and FedEx. Save up to 70% on shipping.
                    </p>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center">
            <a href="" class="how-btn">
    See More Here
  </a>
        </div>
    </div>
</section>
<!-- end How it works section -->



<!-- service section -->
<section class="service_section layout_padding">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2 class="heading_style">
                Our Services
            </h2>
        </div>
        <div class="row layout_padding2-top">
            <div class="col-md-4">
                <div class="service_img-box s-b-1">
                    <img src="{% static 'images/sneaker.jpg' %}" alt="">
                    <div class="d-flex">
                        <h3>
                            SNEAKERS

                        </h3>
                    </div>
                </div>
                <div class="service-detail">
                    <p>
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur
                    </p>
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'service' %}" class="service-btn">
                See More
              </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_img-box s-b-2">
                    <img src="{% static 'images/electronics.jpg' %}" alt="">
                    <div class="d-flex">
                        <h3>
                            ELECTRONICS


                        </h3>
                    </div>
                </div>
                <div class="service-detail">
                    <p>
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur
                    </p>
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'service' %}" class="service-btn">
                See More
              </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_img-box s-b-3">
                    <img src="{% static 'images/clothes.jpg' %}" alt="">
                    <div class="d-flex">
                        <h3>
                            CLOTHES & FASHION


                        </h3>
                    </div>
                </div>
                <div class="service-detail">
                    <p>
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur
                    </p>
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'service' %}" class="service-btn">
                See More
              </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end service section -->


<!-- shop section -->
<section class="shop_section">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2 class="heading_style">
                Our Shop
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center h-100">
                    <div class="shop-detail">
                        <h5>
                            Everything You Need
                        </h5>
                        <p>
                            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="shop_img-box">
                    <img src="{% static 'images/ourshop.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end shop section -->

<!-- testimonial section -->
<section class="client_section layout_padding">
    <div class="d-flex justify-content-center">
        <h2 class="heading_style">
            Testimonial
        </h2>
    </div>
    <div id="carouselExampleIndicator" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicator" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicator" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicator" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicator" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="client_box c-b-1">
                                <div class="client_img">
                                    <img src="{% static 'images/client.png' %}" alt="" class="img-fluid">
                                </div>
                                <div class="client_detail">
                                    <h5>
                                        Rock lu
                                    </h5>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="client_box c-b-2">
                                <div class="client_img">
                                    <img src="{% static 'images/client.png' %}" alt="" class="img-fluid">
                                </div>
                                <div class="client_detail">
                                    <h5>
                                        Rock lu
                                    </h5>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="client_box c-b-1">
                                <div class="client_img">
                                    <img src="{% static 'images/client.png' %}" alt="" class="img-fluid">
                                </div>
                                <div class="client_detail">
                                    <h5>
                                        Rock lu
                                    </h5>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="client_box c-b-2">
                                <div class="client_img">
                                    <img src="{% static 'images/client.png' %}" alt="" class="img-fluid">
                                </div>
                                <div class="client_detail">
                                    <h5>
                                        Rock lu
                                    </h5>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="client_box c-b-1">
                                <div class="client_img">
                                    <img src="{% static 'images/client.png' %}" alt="" class="img-fluid">
                                </div>
                                <div class="client_detail">
                                    <h5>
                                        Rock lu
                                    </h5>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="client_box c-b-2">
                                <div class="client_img">
                                    <img src="{% static 'images/client.png' %}" alt="" class="img-fluid">
                                </div>
                                <div class="client_detail">
                                    <h5>
                                        Rock lu
                                    </h5>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="client_box c-b-1">
                                <div class="client_img">
                                    <img src="{% static 'images/client.png' %}" alt="" class="img-fluid">
                                </div>
                                <div class="client_detail">
                                    <h5>
                                        Rock lu
                                    </h5>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="client_box c-b-2">
                                <div class="client_img">
                                    <img src="{% static 'images/client.png' %}" alt="" class="img-fluid">
                                </div>
                                <div class="client_detail">
                                    <h5>
                                        Rock lu
                                    </h5>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!-- end testimonial section -->



<!-- company section -->
<section class="company_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center h-100">
                    <div class="company-detail">
                        <h3>
                            Company
                        </h3>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 yearsContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, making it over 2000 years
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="company_img-box">
                    <img src="{% static 'images/company.png'%}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end company section -->



<!-- contact section -->
<section class="contact_section layout_padding">
    <div class="d-flex justify-content-center">
        <h2 class="heading_style">
            Contact us
        </h2>
    </div>
    <div class="container layout_padding2-top">
        <div class="row">
            <div class="col-md-6">
                <div id="map" class="h-100 w-100"></div>
            </div>

            <div class="col-md-6">
                <div class="contact_form-container">
                    <form method='post' action="">
                        {% csrf_token %}
                        <div>
                            <input type="text" placeholder="Your Name">
                        </div>
                        <div>
                            <input type="email" placeholder="Your Email">
                        </div>
                        <div>
                            <input type="text" placeholder="Your Phone">
                        </div>

                        <div>
                            <input type="text" class="message_input" name="message" placeholder="Message">
                        </div>
                        <div class="d-flex justify-content-end">
                            <input type="submit" value="Submit" name="" id="">
                            <!-- <button type="submit " class=""> -->
                            <!-- Send -->
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->

{% endblock %}