{% extends 'shipping/base.html' %} {% block content %} {% load static %}

<section class="products_section ">
    <div class="container">
        <div class="col">
            <h2 class="heading_style">
                Buy from all Brands & Online Stores
            </h2>
            <br>
            <p>
                Here are the few top brands but you can buy from anyone wether here mentioned or not. You can buy any product <br> from any online store or band in USA. Just order your products by using your host address without any extra charges.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li id="ul">SNEAKERS</li>
                    <ol>
                        <li id="ol"> Nike</li>
                        <li id="ol">Adidas</li>
                        <li id="ol">Fila</li>
                        <li id="ol">Air Jordan</li>
                        <li id="ol">New Balance</li>
                    </ol>

                    <li id="ul">ELECTRONICS</li>
                    <ol>
                        <li id="ol"> Wall Mart</li>
                        <li id="ol">Target</li>
                        <li id="ol">Amazon</li>
                        <li id="ol">Ebay</li>
                        <li id="ol">Overstock</li>
                    </ol>

                    <li id="ul">CLOTHES</li>
                    <ol>
                        <li id="ol">Nike</li>
                        <li id="ol">Adidas</li>
                        <li id="ol">Fila</li>
                        <li id="ol">Levi's</li>
                        <li id="ol">New Balance</li>
                    </ol>

                </ul>
            </div>
            <div class="col-md-6 ">
                <ul>

                    <li id="ul">SPORTS</li>
                    <ol>
                        <li id="ol"> Brooks</li>
                        <li id="ol">Champion</li>
                        <li id="ol">Nike</li>
                        <li id="ol">Reebok</li>
                        <li id="ol">New Balance</li>
                    </ol>

                    <li id="ul">FASHION</li>
                    <ol>
                        <li id="ol">Gucci</li>
                        <li id="ol">Gap</li>
                        <li id="ol">Coach</li>
                        <li id="ol">Polo</li>
                        <li id="ol">Levi's</li>
                    </ol>


                </ul>
            </div>
        </div>
    </div>

</section>

{% endblock %}