{% extends 'shipping/base.html' %} {% block content %} {% load static %}



<!-- service section -->
<section class="service_section layout_padding">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2 class="heading_style">
                Our Services
            </h2>
        </div>
        <div class="row layout_padding2-top">
            <div class="col-md-4">
                <div class="service_img-box s-b-1">
                    <img src="{% static 'images/sneaker.jpg' %}" alt="">
                    <div class="d-flex">
                        <h3>
                           SNEAKERS

                        </h3>
                    </div>
                </div>
                <div class="service-detail">
                    <p>
                        We are happy to say that now you can shop from almost all top shoes brans without any headache <br> OR you can buy from our onilinestore <br> <a href="https://housakicks.com/">Housakicks</a> as well
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_img-box s-b-2">
                    <img src="{% static 'images/electronics.jpg' %}" alt="">
                    <div class="d-flex">
                        <h3>
                            ELECTRONICS


                        </h3>
                    </div>
                </div>
                <div class="service-detail">
                    <p>
                        Now you can buy easily all electronics and other things from big marts and hopping malls including WALL MART, TARGET etc
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_img-box s-b-3">
                    <img src="{% static 'images/clothes.jpg' %}" alt="">
                    <div class="d-flex">
                        <h3>
                            CLOTHES/FASHION


                        </h3>
                    </div>
                </div>
                <div class="service-detail">
                    <p>
                        Feel free to shop your fashion clothes and make up things from top Americans brands using our local address.  
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end service section -->


<!-- Products listing -->

<section class="products_section ">
    <div class="container">
        <div class="col">
            <h2 class="heading_style">
                Buy from all Brands & Online Stores
            </h2>
            <br>
            <p>
                Here are the few top brands but you can buy from anyone wether here mentioned or not. You can buy any product <br> from any online store or band in USA. Just order your products by using your host address without any extra charges.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li id="ul">SNEAKERS</li>
                    <ol>
                        <li id="ol"> <a href="https://www.nike.com/">Nike</a> </li>
                        <li id="ol"> <a href="https://www.adidas.com/us">Adidas</a> </li>
                        <li id="ol"><a href="https://www.underarmour.com/en-us/">Under Armour</a></li>
                        <li id="ol"><a href="https://www.nike.com/jordan">Air Jordan</a> </li>
                        <li id="ol"><a href="https://www.newbalance.com/">New Balance</a> </li>
                    </ol>

                    <li id="ul">ELECTRONICS</li>
                    <ol>
                        <li id="ol"> <a href="https://www.walmart.com/">Wall Mart</a> </li>
                        <li id="ol"><a href="https://www.target.com/">Target</a> </li>
                        <li id="ol"><a href="https://www.amazon.com/">Amazon</a></li>
                        <li id="ol"><a href="https://www.ebay.com/">Ebay</a></li>
                        <li id="ol"><a href="https://www.overstock.com/">Overstock</a></li>
                    </ol>

                    <li id="ul">CLOTHES</li>
                    <ol>
                        <li id="ol"> <a href="https://www.nike.com/">Nike</a> </li>
                        <li id="ol"> <a href="https://www.adidas.com/us">Adidas</a> </li>
                        <li id="ol"><a href="https://www.underarmour.com/en-us/">Under Armour</a></li>
                        <li id="ol"><a href="https://www.levi.com/US/en_US/">Levi's</a> </li>
                        <li id="ol"><a href="https://www.gap.com/">Gap</a></li>
                    </ol>

                </ul>
            </div>
            <div class="col-md-6 ">
                <ul>

                    <li id="ul">SPORTS</li>
                    <ol>
                        <li id="ol"><a href="https://www.brooksrunning.com/">Brooks</a> </li>
                        <li id="ol"><a href="https://www.champion.com/">Champion</a></li>
                        <li id="ol"> <a href="https://www.nike.com/">Nike</a> </li>
                        <li id="ol"><a href="https://www.reebok.com/us">Reebok</a></li>
                        <li id="ol"><a href="https://www.newbalance.com/">New Balance</a> </li>
                    </ol>

                    <li id="ul">FASHION</li>
                    <ol>
                        <li id="ol"><a href="https://www.gucci.com/us/en/">Gucci</a></li>
                        <li id="ol"><a href="https://www.gap.com/">Gap</a></li>
                        <li id="ol"><a href="https://uk.coach.com/">Coach</a></li>
                        <li id="ol"><a href="https://www.ralphlauren.de/">Polo</a></li>
                        <li id="ol"><a href="https://www.levi.com/US/en_US/">Levi's</a> </li>
                    </ol>


                </ul>
            </div>
        </div>
    </div>

</section>
<!--End of Products listing-->


{% endblock %}