 {% extends 'shipping/base.html' %} {% block content %} {% load static %}



<!-- shop section -->
<section class="shop_section layout_padding">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2 class="heading_style">
                Our Shop
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center h-100">
                    <div class="shop-detail">
                        <h5>
                            Everything You Need
                        </h5>
                        <p>
                           Housakicks is part of a Network made up of 2 websites ( Housakicks.com and Tayibs.com) operated by Tayib Salami who creates content that delivers Eternal Value to the sneaker community and mankind in general. I maintain the Network with my own financial resources. If you like what you read and see here, consider supporting the site. Your support is very much appreciated.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="shop_img-box">
                    <img src="{% static 'images/ourshop.jpg'%}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end shop section -->



{% endblock %}